
ul {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

li {
    display: flex;
}


.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}
